{% import_yaml 'atlassian-bamboo/defaults.yaml' as default_settings %}
{% set bamboo = salt['pillar.get']('atlassian-bamboo', default=default_settings.get('atlassian-bamboo'), merge=True) %}
{% from 'java/map.jinja' import java with context %}

{% do bamboo.server.update({
  'url': bamboo.server.get('url', 'https://www.atlassian.com/software/bamboo/downloads/binary/atlassian-bamboo-' + bamboo.version + '.tar.gz'),
  'pid': bamboo.server.dir + '/home/atlassian-bamboo.pid',
  'java_home': java[java.env].home,
  'dirs': {
    'scripts': bamboo.server.dir + '/scripts',
    'home': bamboo.server.dir + '/home',
    'extract': bamboo.server.dir + '/extract',
    'install': bamboo.server.dir + '/install',
    'temp': bamboo.server.dir + '/temp',
    'current_install': bamboo.server.dir ~ '/extract/atlassian-bamboo-' ~ bamboo.version
  }
}) %}

{% do bamboo.agent.update({
  'installer_jar': bamboo.agent.dir + '/atlassian-bamboo-agent-install-' + bamboo.version + '.jar',
  'home': bamboo.agent.dir + '/home',
  'url': bamboo.agent.server_url + '/agentServer/agentInstaller/atlassian-bamboo-agent-installer-' + bamboo.version + '.jar',
  'java_home': java[java.env].home
}) %}
