{% import_yaml 'atlassian-bamboo/defaults.yaml' as default_settings %}
{% set bamboo = salt['pillar.get']('atlassian-bamboo', default=default_settings.get('atlassian-bamboo'), merge=True) %}
{% from 'java/map.jinja' import java with context %}

{% do bamboo.server.update({
  'source': bamboo.server.get('source', '/tmp/atlassian-bamboo-' ~ bamboo.version ~ '.tar.gz'),
  'download': bamboo.server.get('download') or not bamboo.server.get('source'),
  'url': bamboo.server.get('url', 'https://www.atlassian.com/software/bamboo/downloads/binary/atlassian-bamboo-' + bamboo.version + '.tar.gz'),
  'pid': bamboo.server.dir + '/home/atlassian-bamboo.pid',
  'java_home': java.jre8.home,
  'dirs': {
    'scripts': bamboo.server.dir + '/scripts',
    'home': bamboo.server.dir + '/home',
    'extract': bamboo.server.dir + '/extract',
    'install': bamboo.server.dir + '/install',
    'current_install': bamboo.server.dir ~ '/extract/atlassian-bamboo-' ~ bamboo.version
  }
}) %}

{% do bamboo.agent.update({
  'jar': bamboo.agent.dir + '/bamboo-agent.jar',
  'current_jar': bamboo.agent.dir + '/bamboo-agent-' + bamboo.version + '.jar',
  'home': bamboo.agent.dir + '/home',
  'url': bamboo.agent.server_url + '/admin/agent/bamboo-agent-' + bamboo.version + '.jar',
  'java_home': java.jre8.home
}) %}
