[Unit]
Description=Atlassian Bamboo Agent (%i)
Wants=network-online.target

[Service]
Type=forking
PIDFile={{ config.home }}/%i/bin/bamboo-agent.pid
User={{ config.user }}
ExecStart={{ config.dir }}/run-agent.sh %i start
ExecStop={{ config.dir }}/run-agent.sh %i stop
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
